@font-face {
    font-family: 's1';
    src: url("./src/Font/SVN-DeFontePlus/SVN-DeFontePlus-DemiGras.otf") format('opentype');
}

@font-face {
    font-family: 's2';
    src: url("./src/Font/SVN-DeFontePlus/SVN-DeFontePlus-Gros.otf") format('opentype');
}

@font-face {
    font-family: 's3';
    src: url("./src/Font/SVN-DeFontePlus/SVN-DeFontePlus-Leger.otf") format('opentype');
}

@font-face {
    font-family: 's4';
    src: url("./src/Font/SVN-DeFontePlus/SVN-DeFontePlus-Normale.otf") format('opentype');
}

@font-face {
    font-family: 'm1';
    src:  url("./src/Font/Millionaire-Script.ttf") format('truetype');
}

h1 {
    font-family: 's3', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'm1', sans-serif;
    font-size: 60px;
}

button {
    font-family: 's3', sans-serif;
    font-size: 32px;
}

p {
    font-family: 's3', sans-serif;
    font-size: 32px; 
    line-height: 80.9%;
    filter: opacity(0.8) drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.527)) brightness(1.1) saturate(1.4);}

html {
    overflow: hidden;
}



html,body { 
    font-family: 'Roboto Mono', monospace;
    color: #333;
  }
body{
    background-color: #D9D8D7;
    position: absolute;
    max-height:100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0px;
}
header {
    background-color: unset !important;
    position: absolute;
    width: 100%;
    z-index: 5; 
}

.logo {
    background-color: #00000000;
    margin-top: 20px;
    margin-left: 20px;
}

a img {
    background-color: #00000000;
   height: 65px;
    transition: background-color .5s ease;
    position: absolute;
    transition: all 0.5s;
}

a img:hover {
    filter: invert(1);
}

.navigator {
    margin-top: 20px;
    margin-right: 20px;
    gap: 57px;
    display: flex;
}

a {
    color: black;
    font-family: 's3', sans-serif;
    font-size: 24px; 
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: #B3B492;
}

nav {
    max-width: 100%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;   
}

.bg {
   
    max-height: 130%;
    width: 108%;
}

@media (max-width: 1120px) {
    .bg {
        width: 200%;
    }}

@media (max-width: 560px) { 
    .bg {
        width: 300%;
    }}

#run {
    width: 100%;
    left: 12%;
    bottom: 0;
    z-index: 1;
    position: absolute;
    max-height: 130%;
    height: 102%
}

#cta {
    background: rgba(245, 222, 179, 0);
    transition: background 2s ease-in-out;
    max-width: 100%;
    width: 100%;
    height: 160px;
    position: absolute; 
    display:flex;
    top: 220px;
    z-index: 3;
}

#cta:hover {
    color: black;
    z-index: 3;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 18.23%, rgba(229, 229, 218, 0.00) 26.56%, #B3B492 42.19%, rgba(218, 219, 202, 0.19) 56.25%, rgba(255, 255, 255, 0.00) 66.67%);
}
#cta:active {
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 18.23%, rgba(229, 229, 218, 0.00) 26.56%, #B3B492 42.19%, rgba(218, 219, 202, 0.19) 56.25%, rgba(255, 255, 255, 0.00) 66.67%);
}



#cta a{
    
    left: 16%;
    position: relative;
    z-index: 4;
}

#cta a:hover{
   color: black;
}
#cta a:active{
    color: white;
 }

#cta p {
    font-size: 60px;

    margin: 36px 0px;
    position: relative;
 
    cursor: pointer;
}

#move {
    left: 2%;
    width: 90%;
    position: absolute;
    height: 100%;
}

.particle {
    
    position: absolute;
}

.particle:hover::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 30%;
    z-index: 3;
    pointer-events: none; /* Prevent the circle from blocking interactions with the particle */
}

  #main-div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
 
  .new-image-particle {
    position: absolute;
    /* Add your custom styling here */
   z-index: 7; /* For example, add a red border */
}