@font-face {
    font-family: 's1';
    src: url("../story/Font/SVN-DeFontePlus/SVN-DeFontePlus-DemiGras.otf") format('opentype');
}

@font-face {
    font-family: 's2';
    src: url("../story/Font/SVN-DeFontePlus/SVN-DeFontePlus-Gros.otf") format('opentype');
}

@font-face {
    font-family: 's3';
    src: url("../story/Font/SVN-DeFontePlus/SVN-DeFontePlus-Leger.otf") format('opentype');
}

@font-face {
    font-family: 's4';
    src: url("../story/Font/SVN-DeFontePlus/SVN-DeFontePlus-Normale.otf") format('opentype');
}

@font-face {
    font-family: 'm1';
    src:  url("../story/Font/Millionaire-Script.ttf") format('truetype');
}

h1 {
    font-family: 's3', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'm1', sans-serif;
    font-size: 60px;
}

button {
    font-family: 's3', sans-serif;
    font-size: 32px;
}

p {
    font-family: 's3', sans-serif;
    font-size: 32px; 
    line-height: 80.9%;
    filter: opacity(0.8) drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.527)) brightness(1.1) saturate(1.4);}

html {
    overflow: hidden;
}



html,body { 
    font-family: 'Roboto Mono', monospace;
    color: #333;
  }
body{
    background-color: #D9D8D7;
    position: absolute;
    max-height:100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0px;
}
header {
    background-color: unset !important;
    position: absolute;
    width: 100%;
    z-index: 5; 
}

.logo {
    background-color: #00000000;
    margin-top: 20px;
    margin-left: 20px;
}

a img {
    background-color: #00000000;
   height: 65px;
    transition: background-color .5s ease;
    position: absolute;
    transition: all 0.5s;
}

a img:hover {
    filter: invert(1);
}

.navigator {
    margin-top: 20px;
    margin-right: 20px;
    gap: 57px;
    display: flex;
}

a {
    color: black;
    font-family: 's3', sans-serif;
    font-size: 24px; 
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: #B3B492;
}

nav {
    max-width: 100%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;   
}

.bg {
   
    max-height: 130%;
    width: 108%;
}

@media (max-width: 1120px) {
    .bg {
        width: 200%;
    }}

@media (max-width: 560px) { 
    .bg {
        width: 300%;
    }}

#bg {
    width: 100%;
    left: 40%;
    bottom: 0;
    z-index: 1;
    position: absolute;
    max-height: 130%;
    height: 102%
}


.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-wrapper {
    display: flex;
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;    

}
.swiper-slide {
    color: black;
    position: relative;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active{
    background: radial-gradient(circle, #ffffffe5 20%, #c3c3c300 80%)  !important;
}

.swiper-pagination{
   
    left: 47%;
    top: 37%;
    grid-template-columns: 16px 16px 16px 16px;
    position: absolute;
    height: 20px;
    width: 100px;
    display: grid;
    grid-gap: 14px;
    }
    
    .swiper-pagination-bullet {
        
        height: 20px ;
        width: 20px;
        display: grid;
        background: radial-gradient(circle, #8886865e 0%, #03a8f400 80%);
        border-radius: 50px;
        filter: blur(30%);
        cursor: pointer;
    }

     
    .swiper-pagination-bullet:hover {
        z-index: 6;
        background: radial-gradient(circle, #fffcfcbb 0%, #afafaf9e 80%);
    }

    .swiper-slide p {
        top: 18%;
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        width: 540px;
        height: 540px;
    }



    .swiper-slide p:hover {
        filter: opacity(0.8) drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.527)) brightness(1.1) saturate(1.4);

        z-index: 2;
        cursor: pointer;
        background: radial-gradient(50% 50% at 50% 50%, #a1a46ce6 29.00%, rgba(255, 255, 255, 0.00) 100%);
    }

    .swiper-slide.color-4 {
        align-items: center;
        justify-content: revert;
        display: flex;
        gap: 40px;
        flex-direction: column;
    }

    .nav {
        z-index: 6;
        position: absolute;
        top: 60%;
        height: 40px;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        display: flex;
        grid-template-columns: auto auto;
        gap: 10em;
    }

    .nav a {
        font-size: 32px;
    }
.nav a:hover {
    color:#fefefe;
   filter: drop-shadow(0 0 0.75rem #9fac52a5);
}

.nav:hover {
    color: black;
    z-index: 6;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 18.23%, rgba(229, 229, 218, 0) 26.56%, #B3B492 60.19%, rgba(218, 219, 202, 0.235) 90.25%, rgba(255, 255, 255, 0) 40.67%);
}
.nav:active {
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 18.23%, rgba(229, 229, 218, 0.00) 26.56%, #B3B492 42.19%, rgba(218, 219, 202, 0.19) 56.25%, rgba(255, 255, 255, 0.00) 66.67%);
}
